.btn-link {
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.user-dropdown > strong {
    display: inline-block;
    width: 100%;
}

.channel-emote {
    max-height: 80px;
    max-width: 240px;
}

.chat-picture {
    max-height: 100px;
    max-width: 200px;
}

.motd-bottom-btn {
    margin-top: 10px;
}

#motd-tabs-content {
    margin-top: 10px;
}

#motd-channel-description {
    margin-bottom: 35px;
}

#motd-channel-description h1 {
    margin: 0 0 15px 0;
    word-wrap: break-word;
}

/* #mediainfo {
  margin: 0;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; } */
/* #mediainfo {
  text-align: center !important;
} */

p#videowrap-header {
    margin-bottom: 0px !important;
}

.aye-bot-name {
    color: #26a5e0 !important;
    font-weight: bold !important;
    /* text-shadow: 0 0 5px #2e9720, 0 0 10px #2e9720  !important; */
}

.quote {
    color: #6f8f23;
}

.spoiler {
    color: #000;
    background-color: #000;
}

.spoiler * {
    visibility: hidden !important;
}

.spoiler:hover * {
    visibility: visible !important;
}

code {
    color: #2cb337;
}

#modal-picture {
    left: 50%;
    top: 50%;
    z-index: 100000000;
    box-sizing: border-box;
}

#modal-picture-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;
}

#modal-picture-options-wrapper {
    position: relative;
}

#modal-picture-options {
    position: absolute;
    width: 40px;
    left: 0;
    top: 0;
    margin-left: -41px;
}

#modal-picture-options > * {
    width: 40px;
    margin-bottom: 1px;
}

.markdown-helper-templates-wrapper {
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    /* for jquery animation */
}

#favourite-pictures-panel,
#smiles-panel {
    text-align: center;
    margin: 4px 10px 10px;
    border: 2px solid rgba(0, 10, 20, 0.75);
    background-color: rgba(0, 10, 20, 0.3);
    border-radius: 6px;
}

#favourite-pictures-panel {
    border-bottom: none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#favourite-pictures-panel img,
#smiles-panel img {
    margin: 5px;
    max-height: 40px;
    max-width: 80px;
    cursor: pointer;
}

#pictures-trash {
    position: relative;
    display: table-cell;
    min-height: 50px;
    border-right: 2px solid rgba(0, 10, 20, 0.75);
    width: 60px;
    background: rgba(0, 10, 20, 0.5);
    border-top-left-radius: 6px;
}

.favourite-pictures-panel-row {
    display: table;
    width: 100%;
    border: none;
    min-height: 60px;
}

#pictures-body-panel {
    display: table-cell;
}

.pictures-trash-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -7px;
}

#pictures-trash.favourite-picture-drop-hover {
    background: rgba(245, 28, 22, 0.6);
}

.chat-avatar {
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.chat-avatar_hidden {
    display: none;
}

.chat-avatar_small {
    max-width: 30px;
    max-height: 22px;
}

.chat-avatar_big {
    max-height: 75px;
    max-width: 80px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 7px;
}

.pm-history-message {
    padding-bottom: 15px;
    border-bottom: 1px solid #555;
    margin-bottom: 15px;
}

.pm-history-content .pm-history-message:last-child {
    border-bottom: none;
}

.pm-history-message-time {
    display: inline-block;
    color: #c2c2c2;
    font-size: 13px;
    line-height: 1.4;
}

.pm-history-message-username {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.4;
}

.pm-history-message-content {
    margin-top: 2px;
    font-size: 14px;
    line-height: 1.4;
}

#motd-tabs {
    text-align: center;
}

#motd-tabs > * {
    margin-bottom: 5px;
}

.ce-custom-editor-textarea {
    width: 100%;
    outline: none;
    background: #1d1f21;
    color: #c5c8c6;
    height: 420px;
    padding: 8px;
    border: none;
    font:
        12px / normal "Monaco",
        "Menlo",
        "Ubuntu Mono",
        "Consolas",
        "source-code-pro",
        monospace;
}

.ce-extras {
    font-size: 0;
}

.ce-extras .col-sm-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    float: none;
}

.ce-extras__item {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 5px;
    border-top: 1px solid #555;
}

.ce-extras__item__title {
    font-size: 16px;
    display: block;
}

.ce-extras__item__title_link {
    text-decoration: underline;
}

.ce-extras__item__title_link:hover {
    text-decoration: none;
}

.ce-extras__item__description {
    color: #ccc;
}

.ce-extras__item__button {
    margin-top: 4px;
}

.ce-extras__info-message {
    margin: 10px 0;
}

.ce-themes__item {
    position: relative;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    background: #000000;
    cursor: pointer;
}

.ce-themes__item__title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    z-index: 5;
}

.ce-themes__item__picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
}

.ce-themes__item.active {
    border: 1px solid #78cc78;
    cursor: auto;
}

.ce-themes__info-message {
    margin: 10px 0;
}

.vjs-tip {
    display: none;
    opacity: 0.7;
    font-size: 10px;
    position: absolute;
    z-index: 100000;
}

.vjs-tip-body {
    position: relative;
}

.vjs-tip-body-arrow {
    background: url(data:image/gif;base64,R0lGODlhCQAJAIABAAAAAAAAACH5BAEAAAEALAAAAAAJAAkAAAIRjAOnwIrcDJxvwkplPtchVQAAOw==)
        no-repeat bottom left;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    width: 9px;
    height: 4px;
}

.vjs-tip-body-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px 8px 4px 8px;
    background-color: black;
    color: white;
    max-width: 200px;
    text-align: center;
}

.loading-spinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 5px solid rgba(255, 255, 255, 0.2);
    border-right: 5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
    border-left: 5px solid #ffffff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: spinning 1.1s infinite linear;
    animation: spinning 1.1s infinite linear;
}

.loading-spinner__loading {
    position: relative !important;
}

.loading-spinner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.loading-spinner__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    padding: 5px;
    background: transparent;
    border-radius: 10px;
}

@-webkit-keyframes spinning {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinning {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#emotelist table {
    width: 100% !important;
}

.emote-preview-container {
    width: 20% !important;
    height: 50px !important;
    margin: 0 !important;
    padding: 5px !important;
}

.emote-preview {
    max-width: 100% !important;
    max-height: 100% !important;
}

#emotelist td {
    background-color: transparent !important;
}

body.modal-open {
    overflow: visible !important;
    padding: 0 !important;
}

/* MODIFIED */

/* Lower video header */
/* #videowrap-header{
  margin-bottom: 0px !important;
} */
#videowrap-header {
    border: 1px solid #000000;
    height: 30px;
    background-color: rgba(20, 22, 26, 0.7);
    text-align: center;
    padding-top: 4px;
}

/* #videowrap-header.p{
  vertical-align: middle !important;
} */

/* Scrollbar */
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background: 0 0;
}

::-webkit-scrollbar-thumb {
    background: #34373a;
    border: 0 #fff;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover {
    background: #212121;
    border: 0 #fff;
}

/* Collapse */
@media (min-width: 992px) {
    #videowrap {
        padding-left: 0px !important;
    }

    #chatwrap {
        padding-right: 0px !important;
    }
}

/* Chat */
#messagebuffer {
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.nick-hover {
    background-color: rgb(15 15 35 / 0.5);
}

/* Userlist */
#userlist {
    background-color: rgba(34, 38, 41, 0.52);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border-right: none !important;
    width: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#currenttitle {
    border: none;
    margin: 10px 0 30px 0;
    text-align: center;
    font-size: 21px;
}

/* мобильный вид */
@media (max-width: 768px) {
    #userlist,
    #messagebuffer {
        height: calc(50vh - 90px) !important;
    }

    #currenttitle {
        margin: 0px 0 15px 0;
        font-size: 14px !important;
    }

    .navbar {
        margin-bottom: 0px;
    }

    #chatwrap,
    #videowrap {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

/* Hide BG on title */
#currenttitle {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Top left logo margin */
#nav-logo {
    margin-top: 5px;
    margin-left: 5px;
}

/* PM notification color */
/* .panel-primary>.panel-heading {
  background-color: rgba(25, 100, 225, 0.75) !important;
} */

/* Chat form focus glow */
.form-control:focus {
    box-shadow:
        inset 0 1px 1px rgba(5, 67, 182, 0.171),
        0 0 8px rgba(68, 186, 255, 0.6) !important;
}

/* Username colors */

#usernameColorBtn {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 6px;
    transform: translate(0px, 8px);
    /* position: absolute; */
}

#usernameColorBtn::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    padding: 0;
}

#usernameColorBtn::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
}

#mainpage {
    padding-top: 0px !important;
}

/* Новий год */

/* USERNAMES */
/* .username:before
{
    position: relative;
    content: url(https://2ch.hk/makaba/templates/img/santa_hat.png);
    left: 20px;
    bottom: 6px;
}

.chat-msg-сынок .username:before
{
    content: url(https://i.imgur.com/ZnuY9rE.png);
}
.chat-msg-НенасытнаяДырка .username:before
{
    content: url(https://i.imgur.com/ZnuY9rE.png);
}

.chat-msg-TheSych .username:before
{
    content: url(https://i.imgur.com/OjfNlPx.png);
}

.chat-msg-hohol228 .username:before
{
    content: url(https://i.imgur.com/F52i0af.png);
}

.chat-msg-polska_cow .username:before
{
    content: url(https://i.imgur.com/Br7VAvA.png);
}

.username
{
    position: relative;
    right: 10px;
} */

/* NAVBAR LOGO */
/* #nav-collapsible {
  background-image: url(https://i.imgur.com/aVc0yHs.gif);
  background-size: contain;
} */

.well hr {
    border-color: hsla(0, 0%, 25%, 1);
}

/* Profile card */

.profile-image {
    border-radius: 40px;
    float: left;
    margin-right: 10px;
    border-width: 2px !important;
    border-color: rgba(68, 186, 255, 0.6) !important;
    box-shadow:
        0 1px 1px rgba(5, 67, 182, 0.171),
        0 0 8px rgba(68, 186, 255, 0.6) !important;
}

.profile-box {
    border: 0px solid #aaaaaa;
    border-radius: 0px;
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    box-shadow: 1px 1px 10px black;
    border-radius: 1em;
}

/* No sides padding */
#videowrap {
    padding: 0;
}

#chatwrap {
    padding-left: 0;
    padding-right: 0;
}

/* Remove buttns outline */

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
}

:focus {
    outline: none !important;
}

/* MISC */
.no-padding {
    padding: 0;
    margin: 0;
}

/* ScrollChat button */
#newmessages-indicator-bghack {
    width: 32px;
    height: 32px;
    float: right;
    background: rgba(25, 25, 200, 0.25);
    border-radius: 50%;
    font-size: 1.1em;
    bottom: 2px;
    line-height: 2.4em;
}

#newmessages-indicator {
    width: 98%;
}

#newmessages-indicator span:nth-child(1):not(:last-child) {
    display: none !important;
}

#newmessages-indicator span:nth-child(2) {
    display: none !important;
}

#newmessages-indicator span:last-child {
    position: relative;
    left: 1px;
    margin: 0;
    opacity: 0.8;
    transition: opacity 0.5s ease-out;
}

#newmessages-indicator span:last-child:hover {
    opacity: 1;
}

.panelemote {
    /* width: 30px; */
    width: auto;
    height: 30px;
    cursor: pointer;
    margin: 4px;
}

/* Upscale emote on hover */

.smile-preview:hover,
.panelemote:hover {
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -o-transform: scale(1.35);
}

.smile-preview,
.panelemote {
    -moz-transition: all 0.075s ease-out;
    -o-transition: all 0.075s ease-out;
    -webkit-transition: all 0.075s ease-out;
}

/* Remove Васянский дизайн */
#pollwrap > div > p {
    font-size: 14px !important;
}

#pollwrap > div > p,
.poll-menu.well > strong,
.poll-menu.well > .text-muted {
    visibility: visible !important;
}

.btn-msg-delete {
    float: inherit;
}

#nav-collapsible > ul > li:nth-child(4),
#ce-ui {
    display: block !important;
}

/* userlist */
.userlist_item {
    margin-top: 3px;
}

/* Chat replace filter */
.chat-replace {
    display: inline-block;
    color: #ffffff !important;
}

.chat-replace .chat-reveal {
    display: none;
}

.chat-replace .chat-hide {
    color: #ffffff !important;
}

.chat-replace:hover .chat-reveal {
    display: inline;
}

.chat-replace:hover .chat-hide {
    display: none;
}

/* Chat roll filter */
.chat-roll {
    display: inline-block;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Fix scrolling bar at the bottom */
.fluid {
    overflow-x: hidden;
}

/***********************/
/* Image preview START */
/***********************/

.modal-content {
    background: transparent;
    border: 0;
    box-shadow: none;
}

.modal-header {
    border-radius: 25px 25px 0 0;
    padding: 15px 25px;
    background-color: hsl(150deg 50% 15%);
}

#preview-image-label {
    padding-right: 102px;
}

.modal-body {
    border-radius: 0 0 25px 25px;
}

/* buttons */

.preview-image-button {
    font-size: 12px;
    color: hsl(151deg 50% 35%);
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    background: #08090a;
    border-width: 0;
    border-color: #50b987;
    border-radius: 25%;
    border-style: solid;
    height: 24px;
    width: 24px;
}

/*********************/
/* Image preview END */
/*********************/

/*********************/
/*      NEW YEAR     */
/*********************/

/* Bot */
#smotr {
    /* New Year (Christmas) snowman */
    /* content: url(https://i.imgur.com/tWEVHOI.png); */
    /* Summer */
    /* content: url(https://i.imgur.com/rYakhtY.png); */
}
/* Chatline */
/* #chatline:after {
  background-image: url(https://i.imgur.com/uquX0KS.gif);
} */

/*********************/
/*      USERNAME     */
/*********************/
.username {
    position: relative;
}
/* Hat (back) */
.username:before {
    position: absolute;
    pointer-events: none;
    content: " ";
    left: 0px;
    top: -15px;
}
/* Hat (front) */
.username:after {
    position: absolute;
    pointer-events: none;
    content: " ";
    left: 0px;
    top: -15px;
}

/*************************/
/*      USERNAME END     */
/*************************/

/*************************/
/*     DEFAULT HATS      */
/*************************/

@keyframes hat-shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-7.5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(7.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*************************/
/*   DEFAULT HATS END  */
/*************************/

/*************************/
/*    CHRISTMAS HATS     */
/*************************/

/* Hat: 🧑‍🎄 with 💩/🎁 */
/*
.username:before {
    content: url(https://i.imgur.com/P3eiB5F.png);
}
.username:hover:before {
    content: url(https://i.imgur.com/P3eiB5F.png);
    animation: hat-shake 0.75s ease-in-out infinite;
}

div[class^="chat-msg-"]:nth-child(even)
    > span
    > strong[class^="username"]:active:before {
    content: "☃️";
}
div[class^="chat-msg-"]:nth-child(odd)
    > span
    > strong[class^="username"]:active:before {
    content: "🎁";
}
div[class^="chat-msg-"]:nth-last-child(3)
    > span
    > strong[class^="username"]:active:before {
    content: "❄️";
}
div[class^="chat-msg-"]:nth-last-child(5)
    > span
    > strong[class^="username"]:active:before {
    content: "💩";
}

.username:after {
    content: url(https://i.imgur.com/P3eiB5F.png);
    opacity: 1;
    transition:
        opacity 1.1s cubic-bezier(0.15, 2, 0.75, 1),
        transform 0.33s cubic-bezier(0.15, 2, 0.75, 1);
}
.username:hover:after {
    opacity: 0;
}
.username:active:after {
    opacity: 1;
    transform: scaleY(1.15) translate(7.5px, -10px) rotate(30deg);
}*/

/****************************/
/*    CHRISTMAS HATS END    */
/****************************/

/*************************/
/*      CUSTOM HATS     */
/*************************/

/* Bot */
div[class^="chat-msg-ZhabaBot"] > span > strong[class^="username"]:before {
    content: " ";
    opacity: 0;
}
div[class^="chat-msg-ZhabaBot"] > span > strong[class^="username"]:after {
    content: url(https://i.imgur.com/onkJ7Im.png);
    opacity: 1;
    top: -18px;
    transition: transform 0.33s cubic-bezier(0.15, 2, 0.75, 1);
}
div[class^="chat-msg-ZhabaBot"] > span > strong[class^="username"]:hover:after {
    content: url(https://i.imgur.com/dYv5dkn.png) !important;
    opacity: 1;
    animation: none;
}
div[class^="chat-msg-ZhabaBot"]
    > span
    > strong[class^="username"]:active:after {
    content: url(https://i.imgur.com/dYv5dkn.png) !important;
    opacity: 1;
    transform: scaleY(1.1) translate(0px, -5px);
}

div[class^="chat-msg-ZhabaModer"] > span > strong[class^="username"]:before {
    content: " ";
    opacity: 0;
}
div[class^="chat-msg-ZhabaModer"] > span > strong[class^="username"]:after {
    content: url(https://i.imgur.com/onkJ7Im.png);
    opacity: 1;
    top: -18px;
    transition: transform 0.33s cubic-bezier(0.15, 2, 0.75, 1);
}
div[class^="chat-msg-ZhabaModer"]
    > span
    > strong[class^="username"]:hover:after {
    content: url(https://i.imgur.com/dYv5dkn.png) !important;
    opacity: 1;
    animation: none;
}
div[class^="chat-msg-ZhabaModer"]
    > span
    > strong[class^="username"]:active:after {
    content: url(https://i.imgur.com/dYv5dkn.png) !important;
    opacity: 1;
    transform: scaleY(1.1) translate(0px, -5px);
}

/* 💩 Pile of shit */
div[class^="chat-msg-ХозяйкаЛюбви"] > span > strong[class^="username"]:before {
    content: "💩";
    opacity: 1;
    transition: transform 0.33s cubic-bezier(0.15, 2, 0.75, 1);
}
div[class^="chat-msg-ХозяйкаЛюбви"]
    > span
    > strong[class^="username"]:hover:before {
    content: "💩" !important;
    opacity: 1;
    animation: none;
}
div[class^="chat-msg-ХозяйкаЛюбви"]
    > span
    > strong[class^="username"]:active:before {
    content: "💩" !important;
    opacity: 1;
    transform: scaleY(1.1) translate(0px, -5px);
}
div[class^="chat-msg-ХозяйкаЛюбви"] > span > strong[class^="username"]:after {
    content: " ";
    opacity: 0;
}

/* 🤠 Checkist hat */
div[class^="chat-msg-Chekist_42"] > span > strong[class^="username"]:before {
    content: url(https://i.imgur.com/p0B5SOh.png);
    opacity: 1;
    transition: transform 0.33s cubic-bezier(0.15, 2, 0.75, 1);
}
div[class^="chat-msg-Chekist_42"]
    > span
    > strong[class^="username"]:hover:before {
    content: url(https://i.imgur.com/p0B5SOh.png) !important;
    opacity: 1;
    animation: none;
}
div[class^="chat-msg-Chekist_42"]
    > span
    > strong[class^="username"]:active:before {
    content: url(https://i.imgur.com/p0B5SOh.png) !important;
    opacity: 1;
    transform: scaleY(1.1) translate(1px, -5px) rotate(5deg);
}
div[class^="chat-msg-Chekist_42"] > span > strong[class^="username"]:after {
    content: " ";
    opacity: 0;
}

/* 👒 Anime magician hat */
div[class^="chat-msg-KyKyPyZa"] > span > strong[class^="username"]:before {
    content: url(https://i.imgur.com/aBxEabt.png);
    opacity: 1;
    transition: transform 0.33s cubic-bezier(0.15, 2, 0.75, 1);
}
div[class^="chat-msg-KyKyPyZa"]
    > span
    > strong[class^="username"]:hover:before {
    content: url(https://i.imgur.com/aBxEabt.png) !important;
    opacity: 1;
    animation: none;
}
div[class^="chat-msg-KyKyPyZa"]
    > span
    > strong[class^="username"]:active:before {
    content: url(https://i.imgur.com/aBxEabt.png) !important;
    opacity: 1;
    transform: scaleY(1.1) translate(1px, -5px) rotate(5deg);
}
div[class^="chat-msg-KyKyPyZa"] > span > strong[class^="username"]:after {
    content: " ";
    opacity: 0;
}

/* 🌈 Transgender rainbow */
div[class^="chat-msg-Muchnoi"] > span > strong[class^="username"]:before {
    content: url(https://i.imgur.com/X4ZU787.png);
    opacity: 1;
    top: -18px;
}
div[class^="chat-msg-Muchnoi"] > span > strong[class^="username"]:hover:before {
    content: url(https://i.imgur.com/X4ZU787.png) !important;
    opacity: 1;
    animation: none;
}
div[class^="chat-msg-Muchnoi"]
    > span
    > strong[class^="username"]:active:before {
    content: url(https://i.imgur.com/X4ZU787.png) !important;
    opacity: 1;
}
div[class^="chat-msg-Muchnoi"] > span > strong[class^="username"]:after {
    content: " ";
    opacity: 0;
}

/* 🧢 Cap (MAGA) */
div[class*="_64_RUS"] > span > strong[class^="username"]:before {
    content: "🦅" !important;
    opacity: 0;
    left: 3.5px;
    transition: opacity 0.33s cubic-bezier(0.15, 2, 0.75, 1);
}
div[class*="_64_RUS"] > span > strong[class^="username"]:hover:before {
    opacity: 0;
}
div[class*="_64_RUS"] > span > strong[class^="username"]:active:before {
    content: "🦅";
    opacity: 1;
}
div[class*="_64_RUS"] > span > strong[class^="username"]:after {
    content: url(https://i.imgur.com/RxytNdv.png);
    opacity: 1;
    transition: transform 0.33s cubic-bezier(0.15, 2, 0.75, 1);
}
div[class*="_64_RUS"] > span > strong[class^="username"]:hover:after {
    content: url(https://i.imgur.com/RxytNdv.png) !important;
    opacity: 1;
    animation: none;
}
div[class*="_64_RUS"] > span > strong[class^="username"]:active:after {
    content: url(https://i.imgur.com/RxytNdv.png) !important;
    opacity: 1;
    transform: scaleY(1.1) translate(5px, -10px) rotate(45deg);
}

/* 🎀 Ribbon */
div[class^="chat-msg-Cheesus"] > span > strong[class^="username"]:before {
    content: url(https://i.imgur.com/zGCX79g.png);
    opacity: 1;
    top: -7.5px;
    left: -10px;
}
div[class^="chat-msg-Cheesus"] > span > strong[class^="username"]:hover:before {
    content: url(https://i.imgur.com/zGCX79g.png) !important;
    opacity: 1;
}
div[class^="chat-msg-Cheesus"]
    > span
    > strong[class^="username"]:active:before {
    content: url(https://i.imgur.com/zGCX79g.png) !important;
    opacity: 1;
}
div[class^="chat-msg-Cheesus"] > span > strong[class^="username"]:after {
    content: " ";
    opacity: 0;
}

div[class^="chat-msg-katerok"] > span > strong[class^="username"]:before {
    content: url(https://i.imgur.com/zGCX79g.png);
    opacity: 1;
    top: -7.5px;
    left: -10px;
}
div[class^="chat-msg-katerok"] > span > strong[class^="username"]:hover:before {
    content: url(https://i.imgur.com/zGCX79g.png) !important;
    opacity: 1;
}
div[class^="chat-msg-katerok"]
    > span
    > strong[class^="username"]:active:before {
    content: url(https://i.imgur.com/zGCX79g.png) !important;
    opacity: 1;
}
div[class^="chat-msg-katerok"] > span > strong[class^="username"]:after {
    content: " ";
    opacity: 0;
}

/* 🦔 Hedgehog */
div[class^="chat-msg-Concorde359"] > span > strong[class^="username"]:before {
    content: url(https://i.imgur.com/pjWhB4e.png);
    opacity: 1;
}
div[class^="chat-msg-Concorde359"]
    > span
    > strong[class^="username"]:hover:before {
    content: url(https://i.imgur.com/pjWhB4e.png) !important;
    opacity: 1;
}
div[class^="chat-msg-Concorde359"]
    > span
    > strong[class^="username"]:active:before {
    content: url(https://i.imgur.com/pjWhB4e.png) !important;
    opacity: 1;
}
div[class^="chat-msg-Concorde359"] > span > strong[class^="username"]:after {
    content: " ";
    opacity: 0;
}

/* 💕 Hearts 💕 */
/* div[class^="chat-msg-Nyannaii"]>span>strong[class^="username"]:before {
  content: url(https://i.imgur.com/NVTz1gz.gif);
  opacity: 1;
  top: 0px;
  left: -18px;
}
div[class^="chat-msg-Nyannaii"]>span>strong[class^="username"]:after {
  content: url(https://i.imgur.com/NVTz1gz.gif);
  transform: scaleX(-1);
  opacity: 1;
  top: 0px;
  left: 65px;
}
div[class^="chat-msg-Nyannaii"]>span>strong[class^="username"]:active:before {
  content: url(https://i.imgur.com/NVTz1gz.gif) !important;
}
div[class^="chat-msg-Nyannaii"]>span>strong[class^="username"]:active:after {
  content: url(https://i.imgur.com/NVTz1gz.gif) !important;
  transform: scaleX(-1);
}
div[class^="chat-msg-Nyannaii"]>span>strong[class^="username"]:hover:before {
  content: url(https://i.imgur.com/NVTz1gz.gif) !important;
  animation: none;
}
div[class^="chat-msg-Nyannaii"]>span>strong[class^="username"]:hover:after {
  content: url(https://i.imgur.com/NVTz1gz.gif) !important;
  transform: scaleX(-1);
  animation: none;
} */

/* 🐰 Ears */
div[class^="chat-msg-Nyannaii"] > span > strong[class^="username"]:before {
    content: " ";
    opacity: 0;
}
div[class^="chat-msg-Nyannaii"] > span > strong[class^="username"]:after {
    content: url(https://i.imgur.com/R8o7Ysf.png);
    opacity: 0;
    left: -5px;
    top: -20px;
    animation: none;
    transform: scale(0.9, 0.1);
    transition:
        opacity 0.1s ease,
        transform 0.33s cubic-bezier(0.15, 2, 0.75, 1);
}
div[class^="chat-msg-Nyannaii"] > span > strong[class^="username"]:hover:after {
    opacity: 1;
    transform: scale(1, 1.15);
}
div[class^="chat-msg-Nyannaii"]
    > span
    > strong[class^="username"]:active:after {
    opacity: 1;
    transform: scale(1, 1.35);
}

/* 👒 hat */
div[class^="chat-msg-Снусмумрик"] > span > strong[class^="username"]:before {
    content: url(https://i.imgur.com/NFAtNRb.png);
    opacity: 1;
    top: -12px;
    left: -6px;
}
div[class^="chat-msg-Снусмумрик"]
    > span
    > strong[class^="username"]:hover:before {
    content: url(https://i.imgur.com/NFAtNRb.png) !important;
    opacity: 1;
}
div[class^="chat-msg-Снусмумрик"]
    > span
    > strong[class^="username"]:active:before {
    content: url(https://i.imgur.com/NFAtNRb.png) !important;
    opacity: 1;
}
div[class^="chat-msg-Снусмумрик"] > span > strong[class^="username"]:after {
    content: " ";
    opacity: 0;
}

/***************************/
/*      CUSTOM HATS END    */
/***************************/

/* CHAT HAT FILTER */
/* .hat:after {
  content: url(https://i.imgur.com/n8T8nKw.png);
  position: relative;
  margin-left: -70px;
  bottom: 20px;
  opacity: 1
}

.hat:hover:after {
  opacity: 0.35;
} */

/* GARLAND */
#nav-collapsible {
    /* New Year (Christmas) navbar */
    /*background-image: url(https://i.imgur.com/VpbfaUN.gif);*/
    /* Spring navbar */
    /* background-image: url(https://i.imgur.com/OwHglQd.png) !important; */
    /* LGBT navbar */
    /* background-image: url(https://i.imgur.com/S2Zx4Lj.png) !important; */
    background-size: contain;
    background-repeat: repeat-x;
}

/* CHATLINE */
#chatline {
    /* LGBT chatline */
    /* background-repeat: no-repeat; */
    /* background-image: url(https://i.imgur.com/W4ESHKp.png); */
}

/* CHATLINE EMOTES BUTTON */
#btn-smile {
    /* LGBT chatline emote button */
    /* background-image: url(https://i.imgur.com/TKLIDtM.png) !important; */
    /* Christmas chatline emote button */
    /*background-image: url(https://i.ibb.co/pBLzBtcD/winter-smiles-btn.png) !important;*/
}

/* QUEUE ACTIVE ITEM */
.queue_active {
    background-image: linear-gradient(
        to right,
        rgb(0, 0, 50),
        rgb(0, 50, 50)
    ) !important;
    /* LGBT queue active item */
    /* background-image: url( https://i.imgur.com/j2EgmqS.png ) !important; */
}

/* Temp snowbtn fix */
/* #snowbtn {
	border: none;
} */

/* Video preview blur */
video.chat-video {
    filter: blur(8px);
    transition: filter 0.15s ease-out;
    border-radius: 8px;
}

video.chat-video:focus {
    filter: blur(0px);
}

video.chat-video:hover {
    filter: blur(0px);
}

/* Poll notification */
.poll-notify {
    color: hsl(120deg 100% 90%) !important;
    font-weight: bold !important;
    /* text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00, 0 0 40px #00FF00, 0 0 50px #00FF00; */
    text-shadow: #00ff00 0 0 5px;
}

/* Animated typing */
/* .chat-msg-ZhabaBot:last-of-type .timestamp {
  display: none;
} */

/*
.chat-msg-ZhabaBot:last-of-type span:last-child {
  display: block;
  overflow: hidden;
  animation:
    typing 1.0s steps(30, end);
}

@keyframes typing {
  0% {
    max-height: 15px;
    width: 10%
  }

  100% {
    max-height: 156px;
    width: 100%
  }
} */
