@import url("https://kinach.vercel.app/assets/allowscript.css");
@import url("https://kinach.vercel.app/assets/Sueta4.css");
@import url("https://kinach.vercel.app/assets/aye-enhanced.css");

.server-msg-reconnect {
  color: #efefef !important;
  font-weight: bold !important;
  text-shadow: 0 0 10px #00FF00, 0 0 20px #00FF00, 0 0 30px #00FF00, 0 0 40px #00FF00, 0 0 50px #00FF00;
}

.userlist_op {
  color: #ffffff !important;
  font-weight: 400 !important;
}

.userlist_owner {
  color: #ffffff !important;
  font-weight: 400 !important;
}

body {
  color: #ffffff;
  background-color: #00001e;
}
